<app-nav  ></app-nav>
<app-miniloader *ngIf="miniLoader" ></app-miniloader>

<section class="login-section container login-image-con col-md-6 col-lg-11" *ngIf="!miniLoader">
  <div class="my-5 mx-2" >
    <div class="container">
      <h3 class="my-5">Login</h3>
      <div class="d-flex flex-column align-items-center gap-3 col-12 col-md-12 col-lg-11 ">
        <form action="" class="row gap-3 ">
          <div class="input-group">
            <input type="email" placeholder="Email" class="form-control">
          </div>
          <div class="input-group">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" >
          </div>
          <button class="btn-submit p-2" type="submit" >Confirm</button>
        </form>
        <p  class=" col-12 col-md-12 col-lg-12">Don't  have an account ? <span (click)="navigate('signup')" >Signup</span> </p>
        <label class="text-center" >or</label>
        <img class=" col-6 col-md-7 col-lg-8 cursor-pointer" [src]="signup.googleAuthImage" (load)="onMediaLoad('googleAuthImage')" [ngClass]="{ 'display-show' : !mediaStatus['googleAuthImage']}">
      </div>
    </div>
  </div>
  <div class="col-10 col-md-4 col-lg-4 none-mobile container ">
    <ngx-skeleton-loader count="1" animation="line" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img1']"></ngx-skeleton-loader>
    <img class=" col-md-12 col-lg-12 mb-5 login-image  display" [src]="signup.img4"  (load)="onMediaLoad('img1')" [ngClass]="{ 'display-show' : !mediaStatus['img1'] }" >
    <ngx-skeleton-loader count="1" animation="line" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img2']"></ngx-skeleton-loader>
    <img class=" col-md-12 col-lg-12 mb-5 signup-image  display" [src]="signup.img2" (load)="onMediaLoad('img2')"  [ngClass]="{ 'display-show' : !mediaStatus['img2'] }">
  </div>
  <div class="col-10 col-md-4 col-lg-4 my-4 none container ">
    <ngx-skeleton-loader count="1" animation="line" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img3']"></ngx-skeleton-loader>
    <img class="col-md-12 col-lg-12 mb-5 login-image  display" [src]="signup.img1" (load)="onMediaLoad('img3')" [ngClass]="{ 'display-show' : !mediaStatus['img3'] }">
    <ngx-skeleton-loader count="1" animation="line" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img4']"></ngx-skeleton-loader>
    <img class="col-md-12 col-lg-12 mb-5 login-image  display" [src]="signup.img3"  (load)="onMediaLoad('img4')" [ngClass]="{ 'display-show' : !mediaStatus['img4'] }">
  </div>

</section>


