<app-nav ></app-nav>

<app-miniloader *ngIf="miniLoader" ></app-miniloader>

<section class="login-section container login-image-con col-md-6 col-lg-11" *ngIf="!miniLoader">
  <div class="my-5 mx-2" >
    <div class="container">
      <h3 class="my-5">Login</h3>
      <div class="d-flex flex-column align-items-center gap-3 col-12 col-md-12 col-lg-11 ">
        <form action="" class="row gap-3 "  #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onLogin('home')">
          <div class="input-group">
            <input type="email"  name="email" #email="ngModel" [(ngModel)]="loginData.email" [pattern]="regexForEmail" placeholder="Email" class="form-control"[ngClass]="{'is-invalid' : email.errors}" >
            <div class="invalid-feedback">Invalid Email</div>
          </div>
          <div class="input-group">
            <input type="password" #password="ngModel" [(ngModel)]="loginData.password" class="form-control" name="password"  id="password" placeholder="Password" min="8" name="password" >
          </div>
          <button class="btn-submit p-2" id="btn" type="submit" [disabled]="!loginForm.form.valid || loginForm.form.pristine">Confirm</button>
        </form>
        <p  class=" col-12 col-md-12 col-lg-12">Don't have an account ? <span (click)="navigate('signup')">Signup</span> </p>
        <label class="text-center" >or</label>
        <img class=" col-6 col-md-7 col-lg-8 cursor-pointer" [src]="login.googleAuthImage" (load)="onMediaLoad('googleAuthImage')" [ngClass]="{ 'display-hide' : mediaStatus['googleAuthImage']==null }">
      </div>
    </div>
  </div>
  <div class="col-10 col-md-4 col-lg-4 none-mobile container ">
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img1'] == null"></ngx-skeleton-loader>
    <img class=" col-md-12 col-lg-12 mb-5 login-image   " [src]="login.img2" (load)="onMediaLoad('img1')" [ngClass]="{ 'display-hide' : mediaStatus['img1']==null }" >
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img2'] == null"></ngx-skeleton-loader>
    <img class=" col-md-12 col-lg-12 mb-5 login-image   " [src]="login.img1" (load)="onMediaLoad('img2')"   [ngClass]="{ 'display-hide' : mediaStatus['img2']==null }" >

  </div>
  <div class="col-10 col-md-4 col-lg-4 my-4 none container ">
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img3'] == null"></ngx-skeleton-loader>
    <img class="col-md-12 col-lg-12 mb-5 login-image    " [src]="login.img4" (load)="onMediaLoad('img3')"  [ngClass]="{ 'display-hide' : mediaStatus['img3']==null }" >
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{height:' 30vh'}" *ngIf="mediaStatus['img4'] == null"></ngx-skeleton-loader>
    <img class="col-md-12 col-lg-12 mb-5 login-image   " [src]="login.img3"  (load)="onMediaLoad('img4')"  [ngClass]="{ 'display-hide' : mediaStatus['img4']==null }" >
  </div>
</section>
<app-footer *ngIf="!miniLoader" ></app-footer>


