.btn-submit{
  background-color: #7C4DFF;
  border: none;
  border-radius: 10px;
  color: white;
}

.signup-section{
  margin-top: 7rem;

}

.signup-image-con{
  display: flex;
  flex-direction: row;
}

.cursor-pointer{
  cursor: pointer;
}

.signup-image{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;

}

.signup-image:hover{
  transform: scale(1.01);
}

input:focus{
  box-shadow: none;
}

input:focus::placeholder{
   color: white;
}

p span{
  color: #7C4DFF;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 576px) {
  .signup-column{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .none-mobile, .none{
    display: none;
  }


}