/* You can add global styles to this file, and also import other style files */
@import url(https://db.onlinewebfonts.com/c/5b2384cf9c701d542008dfe9c848d9d6?family=Qanelas-Regular);


*{
  font-family: 'Qanelas-Regular' , serif;
}

.display-hide{
  width: 1px;
  height: 1px;
}

.theme-color{
  color: #7C4DFF;
}

/* Adjust the scrollbar appearance as needed */
::-webkit-scrollbar {
  width:5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #918e8e; /* Color of the scrollbar thumb */
  border-radius: 20px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}


